* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scrollbar-width: thin;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main .wrapper {
  max-width: 900px;
  width: 100%;
}

.d-none {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

.commentBackColorGray {
  background-color: rgb(236, 236, 236);
}

.transform-right {
  transform: translateX(-50px)!important;
}